body {
    margin: 0;
    font-family: Cormorant, serif;
}

.container {
    max-width: 95%;
    margin: 0 auto;
    padding: 0 16px;
}

/* NAVBAR */
.navbar {
    display: flex;
    /* justify-content: space-between; */
    margin: 32px 0;
}

h1 {
    font-weight: 300;
    margin: 5px 0 32px 0;
}

.navbar .link {
    width: 500px;
    margin: 0 16px 32px 32px;
}

.navbar .link ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.navbar .link a {
    color: black;
    text-decoration: none;
    font-size: 1.25rem;
}

/* PROJECT GRID */
#project-grid {
    display: grid;
    grid-template-areas: 
    "shop estimator"
    "museum archery";
    gap: 16px;
    width: 100%;
}

#shop {
    grid-area: shop;
}

#estimator {
    grid-area: estimator;
}

#museum {
    grid-area: museum;
}

#archery {
    grid-area: archery;
}

.project img {
    width: 100%;
    object-fit: cover;
    height: 400px;
    border: 1px solid black;
}