:root {
    /* TEXT VARIABLES */
    --font: "Cormorant", serif;
    --text-light: #fff;
    --text-dark: #000;

    /* COLOR VARIABLES */
    --bg-gradient: linear-gradient(315deg, #000000 0%, #ffffff 74%);
}

body {
    margin: 0;
    font-family: var(--font);
    background: var(--bg-gradient);
    color: var(--text-dark);
}

.container {
    max-width: 95%;
    margin: 0 auto;
    padding: 0 16px;
}

/* NAVBAR */
.navbar {
    display: flex;
    /* justify-content: space-between; */
    margin: 32px 0;
}

h1 {
    font-weight: 300;
    margin: 5px 0 32px 0;
}

.navbar .link {
    width: 500px;
    margin: 0 16px 32px 32px;
}

.navbar .link ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.navbar .link a {
    color: black;
    text-decoration: none;
    font-size: 1.25rem;
}

.navbar .link a:hover {
    text-decoration: underline;
}

/* PROJECT GRID */
.project-grid {
    display: grid;
    grid-template-areas: 
    "shop swipe"
    "estimator archery"
    "museum camp";
    gap: 16px;
    width: 100%;
}

#shop {
    grid-area: shop;
}

#swipe {
    grid-area: swipe;
}

#estimator {
    grid-area: estimator;
}

#museum {
    grid-area: museum;
}

#archery {
    grid-area: archery;
}

#camp {
    grid-area: camp;
}

.project-grid .white h2 {
    color: var(--text-light);
}

.project-grid .white p {
    color: var(--text-light);
}

.project h2 {
    font-weight: bold;
}

.project a {
    color: var(--text-dark);
    text-decoration: none;
}

.project a:hover {
    opacity: 0.8;
}

.project img {
    width: 100%;
    object-fit: cover;
    height: 400px;
    /* border: 1px solid black; */
}

/* ABOUT */
.about {
    width: 40%;
    min-width: 600px;
    margin: 100px 0 100px 200px;
}

.about h3 {
    font-size: 2.5rem;
    font-weight: 300;
}

.about .white {
    color: var(--text-light);
}

.contact {
    margin-top: 100px;
}

.contact p {
    margin: 0;
    font-size: 1.25rem;
}

.cta {
    border-bottom: 1px solid var(--text-light);
    display: inline-block;
    padding-bottom: 8px;
    margin-top: 0;
}

/* RESPONSIVE */