:root {
    /* TEXT VARIABLES */
    --font-1: "Cormorant Garamond", serif;
    --font-2: "Raleway", sans-serif;
    --text-light-1: #fff;
    --text-light-2: #996;
    --text-dark: #0f0f0f;

    /* COLOR VARIABLES */
    --bg-gradient: linear-gradient(315deg, #000000 0%, #ffffff 74%);
    --bg-light: #fff;
}

html, body {
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: var(--font-1);
    background: var(--bg-gradient);
    color: var(--text-dark);
}

.container {
    max-width: 95%;
    margin: 0 auto;
    padding: 0 16px;
}

/* NAVBAR */
.navbar {
    display: flex;
    margin: 32px 0;
}

h1 {
    font-weight: 500;
    margin: 5px 0 32px 0;
    letter-spacing: 0.1rem;
}

.navbar .link {
    width: 450px;
    margin: 0 16px 32px 0;
}

.navbar .link ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.navbar .link a {
    color: black;
    text-decoration: none;
    font-size: 1.25rem;
}

.navbar .link a:hover {
    text-decoration: underline;
}

.hamburger {
    display: none;
}

.bar1, .bar2, .bar3 {
    background-color: black;
    width: 36px;
    height: 2px;
    margin: 3px;
    border-radius: 10px;
}

.mobileNav {
    width: 100px;
    height: 100vh;
    background-color: var(--bg-light);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -160px;
    padding: 16px;
    transition: transform 0.5s;
}

.mobileNav a {
    text-decoration: none;
    color: var(--text-dark);
    margin: 16px 0;
    font-weight: bold;
}

.mobileNav a:hover {
    text-decoration: underline;
}

.openDrawer {
    transform: translateX(-160px);
}

/* PROJECT GRID */
#project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "shop swipe"
    "museum estimator"
    "archery game";
    gap: 16px;
    width: 100%;
}

#shop {
    grid-area: shop;
}

#swipe {
    grid-area: swipe;
}

#estimator {
    grid-area: estimator;
}

#museum {
    grid-area: museum;
}

#archery {
    grid-area: archery;
}

#game {
    grid-area: game;
}

#project-grid .white h2 {
    color: var(--text-light-1);
}

#project-grid .white p {
    color: var(--text-light-1);
}

#project-grid .white a.btn {
    background-color: var(--text-light-2);
    color: var(--text-light-1);
    transition: background-color .3s cubic-bezier(.47, 0, .745, .715);
}

#project-grid .white a.btn:hover {
    background-color: var(--bg-gradient);
    color: var(--text-light-2);
}

.project img {
    width: 100%;
    object-fit: cover; 
    transition: 0.2s ease-in;
}

.project img:hover {
    opacity: 0.6;
}

.project h2 {
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.project .mobileArrow {
    display: none;
}

.project p {
    font-family: var(--font-2);
    font-size: 1.25rem;
    line-height: 1.25;
    font-weight: 300;
}

a.btn {
    border: 1px solid var(--text-light-2);
    border-radius: 300px;
    display: inline-block;
    color: var(--text-light-2);
    font-family: var(--font-1);
    font-size: 1rem;
    font-weight: 700;
    margin-top: 0.75rem;
    margin-bottom: 1.5rem;
    padding: 10px 15px;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color .3s cubic-bezier(.47, 0, .745, .715);
}

a.btn:hover {
    background-color: var(--text-light-2);
    color: var(--text-light-1);
}

#zht {
    text-decoration: underline;
    color: var(--text-light-1); 
}

/* ABOUT */
#about {
    width: 40%;
    min-width: 600px;
    margin: 100px 0 100px 200px;
}

#about h3 {
    font-size: 2.5rem;
    font-weight: 300;
}

#about .white {
    color: var(--text-light-1);
}

#contact {
    margin-top: 100px;
}

#contact p {
    margin: 0;
    font-size: 1.75rem;
}

.cta {
    border-bottom: 1px solid var(--text-light-1);
    display: inline-block;
    padding-bottom: 8px;
    margin-top: 0;
}

/* RESPONSIVE */
/* CUSTOM BREAKPOINT (1100px) */
@media only screen and (max-width: 1100px) {
    /* PROJECT GRID */
    #project-grid {
        max-width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
            "shop"
            "swipe"
            "museum"
            "estimator"
            "archery"
            "game";
    }

    .project {
        margin: 20px 0;
    }
}

/* CUSTOM BREAKPOINT (1000px) */
@media only screen and (max-width: 1000px) {
    /* ABOUT */
    #about {
        margin: 100px 0 100px 100px;
    }
}

/* TABLET SIZE */
@media only screen and (max-width: 768px) {
    /* NAVBAR */
    .navbar {
        justify-content: space-between;
        position: relative; 
    }

    h1 {
        margin: 0 0 32px 0;
    }

    .navbar .link {
        display: none;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 8px 16px 0 0;
        position: fixed;
        z-index: 3;
        right: 0;
    }

    .hamburger:hover {
        cursor: pointer;
    }
    
    .mobileNav {
        display: flex;
    }

    /* PROJECT GRID */
    .project img {
        width: 100%;
        height: auto;
    }

    /* .project .mobileArrow {
        display: inline-block;
    } */

    /* ABOUT */
    #about {
        margin: 100px 0 100px 50px;
        min-width: 450px;
    }
}

/* MOBILE SIZE */
@media only screen and (max-width: 550px) {
    /* NAVBAR */
    h1 {
        margin: 0;
    }

    /* PROJECT GRID */
    #project-grid {
        margin: 32px 0 0 0;
    }

    /* ABOUT */
    #about {
        margin: 100px auto;
        min-width: 350px;
    }
}

/* NAVBAR ANIMATIONS */
.animateBar1 {
    animation: flipBar1 0.5s;
    animation-fill-mode: forwards;
}

.animateBar2 {
    animation: fadeBar2 0.5s;
    animation-fill-mode: forwards;
}

.animateBar3 {
    animation: flipBar3 0.5s;
    animation-fill-mode: forwards;
}

@keyframes flipBar1 {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(45deg) translate(4px, 8px);
    }
}

@keyframes fadeBar2 {
    from {
        transform: scaleX(1);
        opacity: 1;
    }
    to {
        transform: scaleX(0);
        opacity: 0;
    }
}

@keyframes flipBar3 {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-45deg) translate(4px, -8px);
    }
}