:root {
    /* TEXT VARIABLES */
    /* --font-1: "Cormorant Garamond", serif; */
    --font-1: "Raleway", sans-serif;
    --text-light-1: #fff;
    --text-light-2: #996;
    --text-dark: #0f0f0f;

    /* COLOR VARIABLES */
    --bg-gradient: linear-gradient(315deg, #000000 0%, #ffffff 74%);
    --bg-dark: #0f0f0f;
    --bg-light: #fff;

    overscroll-behavior: none;
}

html,
body {
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-family: var(--font-1);
    background: var(--bg-gradient);
    color: var(--text-dark);
}

.container {
    max-width: 95%;
    margin: 0 auto;
    padding: 0 4vw;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    margin: 1.6rem 0 0 0;
}

h1 {
    font-size: 1.75rem;
    font-weight: 500;
    margin: 0;
    letter-spacing: 0.1rem;
    transform: translateY(-0.5rem);
}

.navbar .link {
    width: 450px;
    margin: -1.6rem 0 0 0;
}

.navbar .link ul {
    display: flex;
    justify-content: end;
    list-style-type: none;
}

.navbar .link ul li {
    margin-left: 2rem;
}

.navbar .link a {
    color: var(--text-dark);
    text-decoration: none;
    font-size: 1.75rem;
    transition: all 0.2s;
}

.navbar .link a:hover {
    color: var(--text-light-2);
}

.hamburger {
    display: none;
}

.bar1, .bar2, .bar3 {
    background-color: var(--bg-dark);
    width: 36px;
    height: 2px;
    margin: 3px;
    border-radius: 10px;
}

.mobileNav {
    width: 10rem;
    height: 100vh;
    background-color: var(--bg-light);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -16rem;
    padding: 1.6rem;
    transition: transform 0.5s;
}

.mobileNav a {
    text-decoration: none;
    color: var(--text-dark);
    margin: 1.6rem 0;
    font-weight: 600;
    font-size: 2rem;
}

.mobileNav a:hover {
    text-decoration: underline;
}

.openDrawer {
    transform: translateX(-16rem);
}

/* HERO */
.hero {
    height: auto;
    border-top: 1px solid var(--text-dark);
    /* padding: 12rem 0 6rem 3rem; */
    padding: 7vw 0 7vw 1vw;
}

.hero span {
    display: block;
    font-size: 11.2rem;
    font-weight: 700;
}

/* PROJECT GRID */
#project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "game movie"
    "archery natours"
    "museum swipe";
    gap: 4rem;
    width: 100%;
}

#natours {
    grid-area: natours;
}

#game {
    grid-area: game;
}

#swipe {
    grid-area: swipe;
}

#museum {
    grid-area: museum;
}

#archery {
    grid-area: archery;
}

#movie {
    grid-area: movie;
}

#project-grid .white h2 {
    color: var(--text-light-1);
}

#project-grid .white p {
    color: var(--text-light-1);
}

#project-grid .white a.btn {
    background-color: var(--text-light-2);
    color: var(--text-light-1);
    transition: background-color 0.3s cubic-bezier(.47, 0, .745, .715);
}

#project-grid .white a.btn:hover {
    background-color: var(--bg-gradient);
    color: var(--text-light-2);
}

.project img {
    width: 100%;
    object-fit: cover;
    box-shadow: 1rem 1rem 1rem rgba(0,0,0, 0.3);
    /* transition: 0.2s ease-in; */
}

.project h2 {
    font-size: 2.4rem;
    font-weight: 600;
    font-family: var(--font-1);
}

.project p {
    font-family: var(--font-1);
    font-size: 2rem;
    line-height: 1.25;
    font-weight: 300;
}

a.btn {
    border: 1.75px solid var(--text-light-2);
    border-radius: 30rem;
    display: inline-block;
    color: var(--text-light-2);
    font-family: var(--font-1);
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 1.2rem;
    margin-bottom: 2.4rem;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.3s cubic-bezier(.47, 0, .745, .715);
}

a.btn:hover {
    background-color: var(--text-light-2);
    color: var(--text-light-1);
}

.skills {
    font-style: italic;
    font-weight: 500;
}

#game h2,
#movie h2 {
    margin-top: 60%;
}

/* ABOUT */
#about {
    width: 53%;
    min-width: 60rem;
    margin: 10rem 0 10rem 20rem;
}

#about h3 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.5;
}

#about .white {
    color: var(--text-light-1);
}

#contact {
    margin-top: 10rem;
}

#contact p {
    margin: 0;
    font-size: 3rem;
}

#linkedin {
    font-size: 1.5rem;
    margin-top: 2rem;
}

.cta {
    border-bottom: 1px solid var(--text-light-1);
    display: inline-block;
    padding-bottom: 8px;
    margin-top: 0;
}

/* CAROUSEL */
.carousel {
    position: relative;
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    opacity: 0;
    transition: opacity ease-in-out 200ms;
    transition-delay: 200ms;
}

.slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 3rem;
    width: 5rem;
    height: 5rem;
    color: rgba(245, 245, 245, 0.5);
    /* top: 15rem; */
    cursor: pointer;
    /* border-radius: 50%; */
    padding: 0 0.5rem;
    background-color: rgba(128, 128, 128, 0.1)
}

.carousel-button:hover,
.carousel-button:focus {
    color: whitesmoke;
    background-color: rgba(128, 128, 128, 0.2);
}

.carousel-button:focus {
    outline: 1px solid gray;
}

.carousel-button.prev {
    right: 6rem;
}

.carousel-button.next {
    right: 0.5rem;
}

/* RESPONSIVE */
/* CUSTOM BREAKPOINT (1100px) */
@media only screen and (max-width: 68.75em) {
    /* HERO */
    .hero span {
        font-size: 9rem;
    }

    /* PROJECT GRID */
    #game h2,
    #movie h2 {
        margin-top: 61%;
    }

    /* ABOUT */
    #about {
        margin-left: 15rem;
    }

    /* CAROUSEL */
    .carousel-button {
        font-size: 3rem;
        width: 4rem;
        height: 4rem;
        /* top: 12rem; */
    }

    .carousel-button.prev {
        right: 5rem;
    }

}

/* CUSTOM BREAKPOINT (1000px) */
@media only screen and (max-width: 62.5em) {
    /* HERO */
    .hero span {
        font-size: 8rem;
    }

    /* PROJECT GRID */
    #project-grid {
        max-width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
            "game"
            "movie"
            "archery"
            "natours"
            "museum"
            "swipe";
    }
    
    /* PROJECT GRID */
    #game h2,
    #movie h2 {
        margin-top: 59%;
    }
    
    /* ABOUT */
    #about {
        margin-left: 10rem;
    }

    /* CAROUSEL */
    .carousel-button {
        font-size: 6rem;
        width: 7rem;
        height: 7rem;
        /* top: 22.5rem; */
    }

    .carousel-button.prev {
        right: 8.5rem;
    }
}

/* TABLET SIZE (768px) */
@media only screen and (max-width: 48em) {
    /* NAVBAR */
    .navbar {
        justify-content: space-between;
        position: relative; 
    }

    h1 {
        font-size: 1.75rem;
        margin-top: 0.8rem;
    }

    .navbar .link {
        display: none;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0 1.6rem 0 0;
        position: fixed;
        z-index: 3;
        right: 0;
    }

    .hamburger:hover {
        cursor: pointer;
    }
    
    .mobileNav {
        display: flex;
    }

    /* HERO */
    .hero {
        padding-top: 10vw;
        padding-bottom: 10vw;
        border-top: none;
    }

    .hero span {
        font-size: 6rem;
    }

    /* ABOUT */
    #about {
        margin-left: 5rem;
        min-width: 47.5rem;
    }

    /* CAROUSEL */
    .carousel-button {
        font-size: 4rem;
        width: 6rem;
        height: 6rem;
        /* top: 17rem; */
    }

    .carousel-button.prev {
        right: 7.5rem;
    }
}

/* MOBILE SIZE (550px) */
@media only screen and (max-width: 34.375em) {
    /* HERO */
    .hero {
        padding-top: 20vw;
        padding-bottom: 20vw;
    }

    .hero span {
        font-size: 4.25rem;
    }

    /* PROJECT GRID */
    #game h2,
    #movie h2 {
        margin-top: 60%;
    }

    /* ABOUT */
    #about {
        margin: 10rem auto;
        min-width: 35rem;
    }

    #about h3 {
        font-size: 3rem;
    }

    #contact p {
        font-size: 2.5rem;
    }

    /* CAROUSEL */
    .carousel-button {
        font-size: 2rem;
        width: 4rem;
        height: 4rem;
        /* top: 9.5rem; */
    }

    .carousel-button.prev {
        right: 5rem;
    }
}

/* NAVBAR ANIMATIONS */
.animateBar1 {
    animation: flipBar1 0.5s;
    animation-fill-mode: forwards;
}

.animateBar2 {
    animation: fadeBar2 0.5s;
    animation-fill-mode: forwards;
}

.animateBar3 {
    animation: flipBar3 0.5s;
    animation-fill-mode: forwards;
}

@keyframes flipBar1 {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(45deg) translate(4px, 8px);
    }
}

@keyframes fadeBar2 {
    from {
        transform: scaleX(1);
        opacity: 1;
    }
    to {
        transform: scaleX(0);
        opacity: 0;
    }
}

@keyframes flipBar3 {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-45deg) translate(4px, -8px);
    }
}